<div  class="prepend-3 desktop-prepend-2 column-18 desktop-column-20 tablet-column-12 phone-column-6 append-3 desktop-append-2 ">

    <footer class="footer">

        <div class="row"> 

            <div class="column-12 desktop-column-12 tablet-column-6 phone-column-6">

                <ul class="footer__social-links">
                    <li class="footer__social-links__item"><a class="ss-twitter" href="http://twitter.com/b_hough" target="_blank"></a></li>
                    <li class="footer__social-links__item"><a class="ss-dribbble"href="http://dribbble.com/b_hough" target="_blank"></a></li>
                    <li class="footer__social-links__item"><a class="ss-octocat"href="http://github.com/bhough" target="_blank"></a></li>
                    <li class="footer__social-links__item"><a class="ss-linkedin"href="http://linkedin.com/in/brhough" target="_blank"></a></li>
                    <li class="footer__social-links__item"><a class="ss-instagram"href="http://instagram.com/b_hough" target="_blank"></a></li>
                </ul>

            </div><!-- column -->

            <div class="column-12 desktop-column-12 tablet-column-6 phone-column-6">

                <span class="footer__copyright">&copy; 2011-2015<span> Lost In Pixelation, All Rights Reserved.</span></span>

            </div><!-- column -->

        </div><!-- row -->

    </footer><!-- footer -->

</div><!-- column -->