<!doctype html>
<html class="no-js" lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="http://lostinpixelation.com/" />

    <title>{{ title }}</title>
    <meta name="description" content="The road for a startup is a long and arduous one, and despite the number of people who have taken on this challenge, there is no blueprint to making it easier. However, it is certainly not for lack of trying, as there are vast amounts of advice on the subject, mostly aimed at founders. Some from people who have been wildly successful, and even more from those who have failed miserably." />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="public/favicons/favicon.png" />

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7082732/727286/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="public/css/main.1423896248823.css" />

</head>

<body>