<div class="row">

    <div class="header__menu-wrapper" ><label class="header__menu-button" for="modal-trigger"  ng-click="nav.openNav()"></label><span class="header__menu-button__icon"></span></div>

    <div class="column-24 desktop-column-24 tablet-column-12 phone-column-6">

        <div class="header__logo">

            <a href="/">

                <div class="header__logo__row">
                    <div></div>
                    <div></div>
                    <div></div>
                </div><!-- header__logo__row -->

                <div class="header__logo__row">
                    <div></div>
                    <div></div>
                    <div></div>
                </div><!-- header__logo__row -->

                <div class="header__logo__row">
                    <div></div>
                    <div></div>
                    <div></div>
                </div><!-- header__logo__row -->

            </a>

        </div><!-- header__logo-->

        <h2 class="header__wordmark">Lost In Pixelation</h2>

    </div><!-- column -->

</div><!-- header__menu-wrapper -->