                  <div class="nav__menu column-24">

                      <div class="nav__wrapper"><label class="nav__close-button" for="modal-trigger"></label><span class="nav__close-button__icon"></span></div>

                      <h3 class="nav__menu__header">Articles</h3>

                      <ul class="nav__menu__list">

                          <li class="nav__menu__list-item">

                              <span>01</span> <a href="/">The Long Road Ahead</a>

                          </li><!--nav__menu__list-item -->

                      </ul><!-- nav_menu_list -->

                  </div> <!-- .nav__menu -->
