img {
    max-width: 100%;
}

body {
    background: $black;
    border-top: 5px solid $black;
     border-bottom: 5px solid $black;
}

.wrapper {
    background: $white;
    margin: 0 auto;
    max-width:  1730px;
}

::selection {
  background: #E3E3E3; 
}