html {
    font-size: 21px;
    text-rendering: optimizelegibility;

    @include media(cinema)   {
        font-size: 24px;
    }

    @include media(tablet) {
        font-size: 18px;
    }

    @include media(phone)   {
        font-size: 16px;
    }

}

h1 {
    font-family: 'Tungsten A', 'Tungsten B'; 
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    @include media(tablet) {
        font-size: 3.5rem;
    }

    @include media(tablet) {
        font-size: 3.0rem;
    }
}

p {
    margin-bottom: 1.66rem;
    font-family: 'Whitney A', 'Whitney B';
    font-size: 1rem;
    font-style: normal;
    font-weight: 300; 
    line-height: 1.54;
    @extend %hyphenate;

    strong {
        font-weight:  600;
    }

    em {
        font-style: italic;
    }

    a {
        text-decoration: none;
        text-shadow: 0.03em 0 $white, -0.03em 0 $white, 0 0.03em $white, 0 -0.03em $white, 0.06em 0 $white, -0.06em 0 $white, 0.09em 0 $white, -0.09em 0 $white;
        color: $green;
        background-image:
        linear-gradient($white, $white),
        linear-gradient($white, $white),
        linear-gradient($green, $green);
        background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-position: 0% 90%, 100% 90%, 0% 90%;

        &:before, &:after, *, *:before, *:after {
            text-shadow: none;
        }

        &:hover {
            color: lighten($green,  20%);
            background-image:
            linear-gradient($white, $white),
            linear-gradient($white, $white),
            linear-gradient(lighten($green,  20%), lighten($green,  20%));
        }

    }
}

