html {
    font-size: 21px;
    text-rendering: optimizelegibility;

    @include media(cinema)   {
        font-size: 24px;
    }

     @include media(tablet) {
        font-size: 18px;
    }

    @include media(phone)   {
        font-size: 16px;
    }

}

