article {

    h1 {
        margin-top: -2.6rem;
        margin-bottom: 3rem;
        margin-left: -10px;
        font-family: 'Tungsten A', 'Tungsten B'; 
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        color: $black;

        span {
            padding: 0 15px;
            background: $white;
        }

        @include media(tablet) {
            font-size: 3.5rem;
        }

        @include media(phone) {
            margin-top: 1rem;
            margin-bottom:  0;
            font-size: 3.0rem;
            text-align: center;

            span  {
                background: transparent;
            }
        }

    }

    aside {

        & > span {
            position: relative;
            margin-top: -1.8rem;
            float: right;
            font-family: 'Tungsten A', 'Tungsten B'; 
            font-size:  1rem;
            font-weight: 400;
            text-transform: uppercase;
            color: $grey;

            & > span {
                color: $lightGrey;
            }

            @include media(phone) {
                display: block;
                float: none;
                margin-top: 0;
                margin-bottom: 2.5rem;
                font-weight: 300;
                text-align: center;
            }
        }

    }

    p {
        margin-bottom: 1.66rem;
        font-family: 'Whitney A', 'Whitney B';
        font-size: 1rem;
        font-style: normal;
        font-weight: 300; 
        line-height: 1.54;
        color: $grey;

        strong {
            font-weight:  600;
        }

        a {
            text-decoration: none;
            color: $green;
            text-shadow: 0.03em 0 $white, -0.03em 0 $white, 0 0.03em $white, 0 -0.03em $white, 0.06em 0 $white, -0.06em 0 $white, 0.09em 0 $white, -0.09em 0 $white;
            background-image:
            linear-gradient($white, $white),
            linear-gradient($white, $white),
            linear-gradient($green, $green);
            background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
            background-repeat: no-repeat, no-repeat, repeat-x;
            background-position: 0% 90%, 100% 90%, 0% 90%;


            &:before, &:after, *, *:before, *:after {
                text-shadow: none;
            }

            &:hover {
                color: lighten($green,  20%);
                background-image:
                linear-gradient($white, $white),
                linear-gradient($white, $white),
                linear-gradient(lighten($green,  20%), lighten($green,  20%));
            }

        }

        &.opening-excerpt:first-letter { 
            float: left; 
            padding-top: 1rem; 
            padding-right: 5px; 
            padding-left: 0;
            font-family: 'Tungsten A', 'Tungsten B'; 
            font-size: 5.3rem; 
            font-style: normal;
            font-weight: 400; 
            line-height: .48; 
        }

        &.closing-excerpt:after {
            content: '';
            display: inline-block;
            border: .1rem solid $black;
            height: 0.5rem;
            width: 0.5rem;
            position: relative;
            top: -.1rem;
            left: 5px;
            transform: rotate(45deg);

        }
    }

    img, picture {
        display: block;
        margin: 1rem auto 2rem;
        text-align: center;
    }

}