article {

    h1 {
        margin-top: -2.6rem;
        margin-bottom: 3rem;
        margin-left: -10px;
        color: $black;

        span {
            padding: 0 15px;
            background: $white;
        }

        @include media(phone) {
            margin-top: 1rem;
            margin-bottom:  0;
            text-align: center;

            span  {
                background: transparent;
            }
        }

    }

    aside {

        & > span {
            position: relative;
            margin-top: -1.8rem;
            float: right;
            font-family: 'Tungsten A', 'Tungsten B'; 
            font-size:  1rem;
            font-weight: 400;
            text-transform: uppercase;
            color: $grey;

            & > span {
                color: $lightGrey;
            }

            @include media(phone) {
                display: block;
                float: none;
                margin-top: 0;
                margin-bottom: 2.5rem;
                font-weight: 300;
                text-align: center;
            }
        }

    }

    p {
        color: $grey;

        &.opening-excerpt:first-letter { 
            float: left; 
            padding-top: 1rem; 
            padding-right: 5px; 
            padding-left: 0;
            font-family: 'Tungsten A', 'Tungsten B'; 
            font-size: 5.3rem; 
            font-style: normal;
            font-weight: 400; 
            line-height: .48; 
        }

        &.closing-excerpt:after {
            content: '';
            display: inline-block;
                        height: 0.5rem;
            width: 0.5rem;
            border: .1rem solid $black;
            position: relative;
            top: -0.1rem;
            left: 5px;
            transform: rotate(45deg);

        }
    }

    img, picture {
        display: block;
        margin: 1rem auto 2rem;
        text-align: center;
    }

}