footer {
    border-top: 1px dotted $grey;
    margin-top: 3.1rem;
    padding: 1.2rem 0;

    @media only screen and (max-width: 690px) {
        text-align: center;
    }

    .footer-social {
        display: inline-block;
        
        @media only screen and (max-width: 690px) {
            text-align: left;
        }

        li {
            border: 2px solid $black;
            display: inline-block;
            height: 35px;
            margin-right: 15px;
            width: 35px;
            transform: rotate(45deg);
            transition:  all .3s $swiftOut;

            a {
                color: $black;
                display: block;
                font-size: 19px;
                height: 26px;
                margin-left: 1px;
                text-decoration: none;
                transform: rotate(-45deg);
                width: 100%;
                transition:  all .3s $swiftOut;

                &:before {
                    position: relative;
                    top: 8px;
                    left: 4px;
                }
            }

            &:hover {
                background: $black;

                a {
                    color: $white;
                }
            }
        }
    }

    .footer-copyright {
        color: $lightGrey;
        float: right;
        font-family: 'Whitney A', 'Whitney B';
        font-size: .6rem;
        font-style: italic;
        font-weight: 500;
        margin-top: 0.5rem;
        text-align: right;

        @media only screen and (max-width: 690px) {
            display: inline-block;
            float: none;
            margin-left: -0.7rem;
            margin-top: 1rem;
        }

        span {
            color: $grey;
        }
    }
}