.footer {
    border-top: 1px dotted $grey;
    padding: 1.2rem 0;
    margin-top: 3.1rem;

    @include media(phone) {
        text-align: center;
    }

    &__social-links {
        display: inline-block;

        @include media(phone) {
            text-align: left;
        }

        &__item {
            height: 35px;
            width: 35px;
            display: inline-block;
            border: 2px solid $black;
            margin-right: 15px;
            transition:  all .3s $swiftOut;
            transform: rotate(45deg);


            a {
                display: block;
                height: 26px;
                width: 100%;
                margin-left: 1px;
                font-size: 19px;
                text-decoration: none;
                color: $black;
                transition:  all .3s $swiftOut;
                transform: rotate(-45deg);

                &:before {
                    position: relative;
                    top: 8px;
                    left: 4px;
                }
            }

            &:hover {
                background: $black;

                a {
                    color: $white;
                }
            }
        }
    }

    &__copyright {
        float: right;
        margin-top: -0.8rem;
        font-family: 'Whitney A', 'Whitney B';
        font-size: .6rem;
        font-style: italic;
        font-weight: 500;
        text-align: right;
        color: $lightGrey;

        @include media(phone) {
            display: inline-block;
            float: none;
            margin-top: 1rem;
            margin-left: -0.7rem;
        }

        span {
            color: $grey;
        }
    }
}