header {
    padding:  3em 0 1.6rem 0;
    text-align: center;
}

.logo {
    width: 4.8rem;
    margin: 0 auto .6rem;

    a {
        text-decoration:  none;
    }

    .logo-row {
        margin-top: -0.34rem;
        width: 4.8rem;

        div {
            backface-visibility: hidden;
            border: 2px solid $black;
            display: inline-block;
            height: 1.6rem;
            width: 1.6rem;
            perspective: 1000;
            transform: rotate(45deg) translate3d(0, 0, 0);
            transition: .2s transform ease-in;


            &:nth-child(1), &:nth-child(2) {
                margin-right: -0.34rem;
            }
        }
    }

    &:hover div {
        transform: rotate(0deg);
    }
}

.wordmark {
    color: $black;
    font-family: 'Tungsten A', 'Tungsten B'; 
    font-size:  2rem;
    font-style: normal;
    font-weight: 300; 
    text-transform: uppercase;
}

