{{> header }}

    <form action="./users">
        
        <input type="email" placeholder="email" autofocus>
        <input type="password" placeholder="password">
        <input type="submit" value="Login">

    </form>
        
{{> footer}}